.contact {
    min-width: 300px;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 35px;
    line-height: 1.6;

    h2 {
        font-size: 1.8rem;
    }

    .icon-group {
        display: flex;
        align-items: center;

        .pi {
            font-size: 3rem;
            color: #4c4c4c;
            margin-right: 10px;
        }

        .pi:hover {
            color: #222222;
            transform: scale(1.2);
        }
    }
}