.recent-post {
    min-width: 350px;
    margin-bottom: 50px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 35px;
    line-height: 1.6;

    h2 {
        font-size: 1.8rem;
    }

    .post-item {
        font-family: 'Noto Serif', serif;
        font-size: 1.8rem;
        color: #4c4c4c;
        margin-bottom: 10px;

        a{
            transition: all 0.4s;
        }

        a:hover {
            color: #618eba;
        }
    }
}