<header>
  <h1>Yanting Wu</h1>
  <p>--Courage is grace under presure</p>
</header>
<nav>
  <ul class="nav">
    <li class="nav-item" [routerLink]="['home']">about me</li>
    <li class="nav-item" [routerLink]="['expereince&skills']">expereince & skills</li>
    <li class="nav-item" [routerLink]="['projects']">projects</li>
    <li class="nav-item" [routerLink]="['my-life']">my life</li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer>
  <div>Copyright &copy; 2021 All right reserved.</div>
  <button><i class="pi pi-chevron-up"></i></button>
</footer>