header {
    height: 350px;
    background: url("../../../assets/img/home-img.JPG") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f3f0;
    padding: 60px 360px;

    .about-me {
        width: 63%;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        padding: 45px;
        line-height: 1.6;

        h1 {
            font-size: 3.5rem;
            margin-bottom: 20px;
        }
        a {
            color: #618eba;
        }
        a:hover {
            text-decoration: underline;
        }
    }

    .side-bar {
        align-self: flex-start;
        width: 30%;
        margin-left: 50px;
        display: flex;
        flex-direction: column;

        .recent-post,.contact {
            background-color: #fff;
            border: 1px solid #e0e0e0;
            padding: 35px;
            line-height: 1.6;
        }

        .recent-post {
            margin-bottom: 50px;

            .post-item {
                font-family: 'Noto Serif', serif;
                font-size: 1.8rem;
                color: #4c4c4c;

                a{
                    transition: all 0.4s;
                }

                a:hover {
                    color: #618eba;
                }
            }
        }

        .contact {
            text-transform: uppercase;

            .icon-group {
                display: flex;
                align-items: center;

                .pi {
                    font-size: 3rem;
                    color: #4c4c4c;
                    margin-right: 10px;
                }

                .pi:hover {
                    color: #222222;
                    transform: scale(1.2);
                }
            }
        }
    }

    h2 {
        font-size: 1.8rem;
    }

    p,.post-item {
        margin-bottom: 10px;
    }

}